.card-grass:hover{
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #9bcc50
    
}

.card-fire:hover{
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #fd7d24
    
}


.card-water:hover{
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #4592c4
    
}


.card-bug:hover{
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #729f3f
    
}

.card-normal:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #a4acaf
}

.card-poison:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #b97fc9
}

.card-electric:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #eed535
}

.card-ground:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #ab9842
}

.card-fairy:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #fdb9e9;
}


.card-fighting:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #d56723;
}

.card-psychic:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #f366b9;
}

.card-rock:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #ab9842
}

.card-ghost:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #7b62a3
}

.card-ice:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #51c4e7
}

.card-dragon:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #f16e57
}

.card-dark:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #707070
}

.card-steel:hover {
    top: -4px;
    transition: all .2s ease-in-out;
    box-shadow: -2px 10px 15px #9eb7b8
}