* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'pokemon';
    src: url('Webfonts/Pokesolid.ttf');
}

@font-face {
    font-family: 'Flexo';
    src: url('Webfonts/Flexo-CapsDEMO-webfont.woff');
}

html {
    height: 100%;
}

body {
    background: #424242 url('assets/body_bg.png');
    font-family: 'Flexo';

}

header {
    width: 100%;
    text-align: center;
}

.search_bar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.submit {
    width: 50px;
    height: 50px;

    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/forms/input-search-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ee6b2f;
    background-size: 18px;

    color: #fff;
    border: none;
    border-radius: 40px;

    cursor: pointer;
    position: relative;

}

.search_bar input:last-child:hover {

    top: -4px;
    transition: all .2s ease-in-out;
}

.input_search {
    min-width: 40%;
    height: 45%;
    padding: 10px 20px;


    border-radius: 40px;
    background-color: #fff;
    border: none;
    appearance: none;
    outline: none;

    font-size: 1.2rem;
    font-weight: 500;
}

.title {

    

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pokemon;


    text-align: center;
}



.title h1 {
    align-self: center;
    

    color: #FFDE00;
    font-size: clamp(5rem, 8vw, 8rem);

    -webkit-text-stroke-width: 0.12rem;
    -webkit-text-stroke-color: #3B4CCA;

    text-shadow: 1px 1px 10px black;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;



}

main {
    width: 60%;
    margin:  0 auto 20px;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 5px;
}



.pokeCards {

    font-family: Flexo;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    gap: 14px;

    
    width: 100%;
    height: 100%;


    list-style: none;

}


 .more {
    display: none;
    text-align: center;
   

}

.more button {
    background-color: #30a7d7;

    padding: 12px 25px;
    border: none;

    color: #fff;
    font-weight: 600;
    font-size: 14px;

    border-radius: 5px;
    cursor: pointer;


}


.more button:hover {
    background-color: #247a9c;
}


.card {

    
    list-style: none;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;

}

.card a {

    text-decoration: none;
}



.card:hover {
    top: -4px;
    transition: all .2s ease-in-out;
}

.padCard {
    padding: 0 0 15px 15px;
}

.div-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    width: 205px;
    height: 205px;

    border-radius: 5px;
}

.card-img {
    width: 175px;
}

.card-id {
    color: #919191;
    padding-top: 2px;
    margin: 6px 0 6px 0;
    font-weight: bold;
    font-size: 14px;
}

.card-title {

    font-weight: 200;
    font-size: clamp(0.8rem , 7vw , 1.1rem);
    color: #313131;
    margin: 11px 0 5px 0;

}

.types {
    display: flex;
}

.types :first-child {
    margin-right: 3px;
}

.back {
    width: 69px;
    cursor: pointer;
    margin: 1rem ;
    display: none;
  
    
}

.back img {
    width: 2rem;
}


.back button {
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 600;
    cursor: pointer;
    font-size: clamp(1rem, 0.8vw, 3.2rem);
}
.notFound {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}


.notFound img {
    width: 10%;
}


.notFound h1 {
    font-family: 'Flexo';
    font-size: clamp(1.5rem, 2vw, 4rem);
    padding:  0 10px;
}

.load {
    text-align: center;

}
.load img {
    width: 5%;
    animation: loading 1s linear infinite;

}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width:1050px) {
    main {
        width: 90%;
    }
    .notFound{
        flex-direction: column;
        margin-top: 30px;
    }

    .notFound img {
        width: 20%;
        margin-top:10px ;
        
    }
}


@media (max-width:470px) {
    .div-img {
        width: 260px;
        height: 260px;
    }

    .card-img {
        width: 220px;
    }




}